---
import cardImage from '@/assets/jenniandale.webp';
import Confirm from '@/components/invitation/Confirm.astro';
import SendButton from '@/components/invitation/SendButton.astro';
import Field from '@/components/invitation/Field.astro';

const {code, guests, invitationId, sended} = Astro.props

const invitationTitle = code?.split('-').map((word: string) => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') || 'Familia Pérez';

---


<script>

    const onSubmit = async (form:any, confirm:boolean) => {
        const formData = new FormData(form);
        formData.append('response', confirm ? 'confirm' : 'decline');

        const button = (confirm ? confirmButton : declineButton) as HTMLButtonElement;
        const originalText = button?.innerHTML || '';

        if (button) {
            button.disabled = true;
            button.innerHTML = `
                <span class="loader-dots">
                    <span></span><span></span><span></span>
                </span>
                `;
        }

        
        try {
            const response = await fetch('/api/invitaciones/confirm', {
                method: 'POST',
                body: formData,
            });

            if (response.ok) {
                const text = await response.text();
                location.reload();
            } else {
                console.error('Error en la respuesta', response.status);
                alert('❌ Hubo un error al enviar tu confirmación');
            }
        } catch (error) {
            console.error('Error al enviar la confirmación:', error);
            alert('❌ Error de red o del servidor');
        }finally {
            if (button) {
                button.disabled = false;
                button.innerHTML = originalText;
            }
        
        
    }

    }

    const form = document.querySelector('form'),
        confirmButton = document.querySelector('.confirm-js'),
        declineButton = document.querySelector('.decline-js');


    confirmButton?.addEventListener('click', () =>  onSubmit(form, true))
    declineButton?.addEventListener('click', () => onSubmit(form, false))
    
</script>


<div class="mx-4">
    <div class="m-auto mt-10 mb-10 max-w-6xl bg-white rounded-2xl shadow-xl overflow-hidden">
        <div class="flex flex-col md:flex-row">
            <div class="relative overflow-hidden h-[300px] md:h-auto md:w-1/2 lg:h-auto xl:h-auto">
                <div class="absolute inset-0 bg-gradient-to-b from-white/30 to-white/30 z-10"></div>
                <img
                  src={cardImage.src}
                  alt="Jennifer & Alejandro"
                  class="absolute inset-0 w-full h-full object-cover"
                />
                <div class="absolute inset-0 z-20 flex flex-col items-center justify-center text-white">
                  <p class="text-lg md:text-xl mb-2 font-light bg-[#13151a59] golden">¡Nos casamos!</p>
                  <h1 class="text-4xl md:text-6xl font-serif mb-6 bg-[#13151a59] golden text-center">Jennifer & Alejandro</h1>
                  <p class="text-lg md:text-xl bg-[#13151a59] golden">06 de Septiembre de 2025</p>
                </div>
              </div>
            <div class="md:w-1/2 p-6 md:p-10">

                <h1 class="text-4xl md:text-6xl text-gray-700 font-serif mb-6 text-center">
                    ¡Hola {invitationTitle}!
                </h1>

                <div class="mb-8 text-2xl text-gray-700 font-medium text-center">Dicen que el amor es cosa de locos… así que aquí estamos, enamorados y con muchas ganas de celebrarlo contigo.</div>

                <form class="space-y-6">

                    <Field hidden={true} name="invitationId" value={invitationId}/>
        
                    <Field name="email" type="email" text="Email para futuras actualizaciones" placeholder="tu@email.com"/>

                    <Confirm guests={guests}/>

                    <Field name="comment" type="email" isTextArea={true} text="Comentarios, dudas o sugerencias" placeholder="Vegetariano, vegano, alergias, etc."/>

                    <label class="block text-sm font-medium text-gray-700 mb-4">
                        <input type="checkbox" name="termsAccepted" required>
                        He leído y acepto los <a class="text-[#d4b78f] hover:text-[#c4a77f] cursor-pointer" href="/terminos" target="_blank">términos y condiciones</a>.
                      </label>
                    
                    <SendButton sended={sended} isGroup={guests.length > 1}/>
                    
                </form>
            </div>    
        </div>
    </div>
</div>