---
import { ClientRouter } from 'astro:transitions';
import '@/styles/global.css'
import { siteInfo } from '@/consts/site-info';
import NavBar from '@/components/shared/NavBar.astro';
import Footer from '@/components/shared/Footer.astro';
import ico from '@/assets/favicon.ico';
import proposal from '@/assets/proposal.webp';
import proposalAcepted from '@/assets/proposal_acepted.webp';




interface Props {
	title: string;
    image?: string;
    description?: string
}

const {title = siteInfo.title, description= siteInfo.description, image} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg+xml" href={ico} />
    
    <!-- SEO -->
     <meta name="description" content={description}/>

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content=`https://jenniferandalejandro.us${proposal.src}`` />
    <meta property="og:url" content={`https://jenniferandalejandro.us${Astro.url.pathname}`} />
    <meta property="og:type" content="website" />

     <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">


    <title>{title}</title>
    <ClientRouter />
</head>
<body>
    
    <NavBar/>

    <main>
        <slot/>
    </main>

    <Footer/>



</body>
</html>
